@media  screen and (max-width: 375px) {
    body {
      background-color: lightblue;
    }
    h1{
        font-size:1.7rem !important;
    }
    .content p{
        text-align: justify;
    }
    .time  {
        width: 100%;
        margin-top: 20px;
    }
    .time ul li {
        font-size: 14px;
    }
    h2{
        font-size: 1.5rem;
    }
    .item3 li{
        font-size:16px;
        text-align: justify;
    }
   
  }

 
